# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
testing.py
alembic/versions
database/__pycache__/
alembic/__pycache__
__pycache__/
/alembic/versions/
